*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    color:azure;
    font-size: 18px;
    display: grid;
    grid-template: 1fr 1fr 1fr;
    grid-template-areas: "area1 area1 area1"
                         "area5 area5 area5"   
                         "area2 area2 area2"   
                         "area3 area3 area3"
                         "area4 area4 area4"
                         "area6 area6 area6";
}

/*BARRA DE NAVEGACION*/
#wrapper{
    /*background-color: #171c24d7;*/
    background-image: url(../img/heading-b.jpg);
    position: sticky;
    width: 100%;
    grid-area: area1;
}
#wrapper nav {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 150px;
    align-items: center;
    justify-content: space-around;
}
nav .content {
    display: flex;

}
nav .content .links {
    margin-left: 80px;
    display: flex;
}
.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.content .links li {
    list-style: none;
    line-height: 70px;
}
.content .links li a {
    text-decoration: none;
    color: #fff;  
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease; 
}
.content .links li:hover a {
    background: darkturquoise;
    color:#171c24d7
}
/*MENU HAMBURGUESA*/

#wrapper .menu-icon {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
#wrapper .menu-icon{
    display: none;
}
#wrapper input[type="checkbox"]{
    display: none;
}

/*IMAGENES EN MOVIMIENTO*/
.bgimg{
    grid-area: area5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bgimg ul {
    display: flex;
    animation: slide 20s infinite alternate linear;
    width: 400%;
}
.bgimg li{
    width: 100%;
    list-style: none;
}
.bgimg img {
    width: 100%;
    height: 100%;
}
@keyframes slide {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.mid{
    grid-area: area2;
    display: grid;
    grid-template: 1fr 1fr 1fr;
    grid-template-areas: "rx reso mamo";
    color: white;
    text-align: center;
}
.rx, .reso, .mamo{
    padding: 90px 20px;
}
.mid a:link {
    text-decoration: none;
    font-weight: 600;
    color:azure;
    padding: 5px;
}
.mid a:visited{
    color:azure;
    padding: 2px;
}
.mid a:hover {
    border: 1.5px solid #ffffff;
}


/*DIV CON ENLACE*/
.rx{
    grid-area: rx;
    background-color: #9FA8DC;
}
.reso{
    grid-area: reso;
    background-color:#A2C3F2;
}
.mamo {
    grid-area: mamo;
    background-color: #9BCFE8
}
.resume {
    grid-area: area3;
    padding: 3%;
    background-color: #ffffff;
    color: black;
}
.feauture {
    display: grid;
    grid-template: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-template-areas: ". compro tray inno .";
    font-size: 16px;
}
.feauture div{
    padding: 20px;
}
.feauture h3{
    padding-top: 20px;
}
.compromiso {
    grid-area: compro;
    background-color: #9FE1ED;
}
.trayectoria {
    grid-area: tray;
    background-color: #85D6CD;
}
.innovacion {
    grid-area: inno;
    background-color: #99F7D2;
}

/*SECTOR CON ASIDE*/
.asides{
    grid-area: area4;
    display: grid;
    grid-template: 1fr 1fr 1fr;
    grid-template-areas: "ser ave pal";
    justify-content: space-around;
    background-color: rgb(75, 75, 75);
    font-size: 16px;
    color: azure;
}
.servicios, .avellaneda, .palermo{
    padding: 50px 30px;
}
aside h3{
    border-bottom: 3px solid #85D6CD;
    margin-bottom: 35px;
}
aside ul{
    list-style-type: square;
    list-style-position: inside;
}
.liaside a {
    text-decoration: none;
    color: #ffffff;
}
.liaside a:hover{
    color:darkturquoise;
}
.servicios{
    grid-area: ser;
}
.avellaneda {
    grid-area: ave;
}
.palermo {
    grid-area: pal;
}


/* FOOTER */
#final{
    grid-area: area6;
    display: grid;
    grid-template: auto auto;
    grid-template-areas: "copy social";
    background-color: rgb(85, 85, 85);
    padding: 10px;
    color: azure; 
}
.copyright {
    grid-area: copy;
}
.redsocial{
    background: 0%;
}
.social{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
}
.socialmedia{
    list-style: none;
    padding: 1%;
}
.socialmedia a:link {
    color: azure;
}
.socialmedia a:visited {
    color: azure;
}
.socialmedia a:hover{
    color:darkturquoise;
}
.redsocialfoot {
    grid-area: social;
}

/*PAGINA DE CONTACTO*/
.asidesbis{
    display: grid;
    grid-template: 50% 50%;
    grid-template-areas: "ave pal";
}
input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=button]:hover{
    background-color: darkturquoise;
}
iframe {
    padding-bottom: 20px;
}

  
/*PAGINA QUIENES SOMOS*/
.somos {
      color: black;
    display: inline-flex;
    flex-direction: column;
}
.first-a, .second-a {
    padding: 50px 30px;
    width: 100%;
    text-align: justify;
    display: flex;
}
.somos img {
    display: block;
    border-radius: 25%;
    margin: 0 auto;
    padding-bottom: 35px;
    padding-right: 50px;
    max-width: 500px;
    height: auto;
}

/*RESPONSIVE CELULAR*/
@media screen and (max-width: 425px) {
    .main{ 
        display: grid;
        grid-template: 1fr 1fr;
        grid-template-areas: "area1 area1"
                             "area5 area5"      
                             "area2 area2"   
                             "area3 area3"
                             "area4 area4"
                             "area6 area6";
    }
    #wrapper {
        justify-content: space-around;
    }
    .mid{
        grid-area: area2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "rx"
                             "mamo"
                             "reso";   
        color: white;
        text-align: center;
    }
    .feauture {
        display: grid;
        grid-template: 0.25fr 1fr 0.25fr;
        grid-template-areas: ". compro ."
                             ". tray ."
                             ". inno .";
        justify-content: center;
    }
    .asides{
        grid-area: area4;
        display: grid;
        grid-template: auto;
        grid-template-areas: "ser"
                             "ave"
                             "pal";
        justify-content: space-evenly;
        background-color: rgb(75, 75, 75)
    }
    #final{
        grid-area: area6;
        display: grid;
        grid-template: auto;
        grid-template-areas: "social"
                             "copy"; 
    }
    .social{
        justify-content: center;
    }
    #wrapper nav {
        max-width: 100%;
        padding: 0 20px;
        justify-content: flex-start;
        text-transform: uppercase;
    }        
    #wrapper .menu-icon{
        display: block;
    }
    #wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    } 
    nav .content .links {
        display: block;
        position: fixed;
        background: #171c24d7;
        height: 100%;
        width: 100%;
        top: 150px;
        left: -100%;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    .content .links li:hover a {
        background: darkturquoise;
        color:#171c24d7;
    }
    nav #show-menu:checked ~ .content .links {
        left: 0%;
    } 
    .content .links li a {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px; 
    }
    .first-a, .second-a {
        display: inline;
    }
    .asidesbis{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "ave"
        "pal";   
    }
}

/*RESPONSIVE TABLET*/
    @media screen and (max-width: 768px) {
        .main{ 
            display: grid;
            grid-template: 1fr 1fr;
            grid-template-areas: "area1 area1"
                                 "area5 area5"   
                                 "area2 area2"   
                                 "area3 area3"
                                 "area4 area4"
                                 "area6 area6";
        }
        .mid{
            grid-area: area2;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "rx"
                                 "mamo"
                                 "reso";   
            color: white;
            text-align: center;
        }
        .feauture {
            display: grid;
            grid-template: 0.25fr 1fr 0.25fr;
            grid-template-areas: ". compro ."
                                 ". tray ."
                                 ". inno .";
            justify-content: center;
        }
        .asides{
            grid-area: area4;
            display: grid;
            grid-template: auto;
            grid-template-areas: "ser"
                                 "ave"
                                 "pal";
            justify-content: space-evenly;
            background-color: rgb(75, 75, 75)
        }
        #final{
            grid-area: area6;
            display: grid;
            grid-template-areas: "social"
                                 "copy"; 
        }
        .social{
            justify-content: center;
        }        
        .copyright{
            text-align: center;
        }
        #wrapper nav {
            max-width: 100%;
            padding: 0 20px;
            justify-content: flex-start;
            text-transform: uppercase;
        }
        nav .content .links {
            margin-left: 30px;
        }
        .content .links li a {
            padding: 8px 13px;
        }
        #wrapper .menu-icon{
            display: block;
        }
        #wrapper #show-menu:checked ~ .menu-icon i::before{
            content: "\f00d";
        } 
        nav .content .links {
            display: block;
            position: fixed;
            background: #171c24d7;
            height: 100%;
            width: 100%;
            top: 150px;
            left: -100%;
            margin-left: 0;
            overflow-y: auto;
            padding-bottom: 100px;
            transition: all 0.3s ease;
    
        }
        .content .links li:hover a {
            background: darkturquoise;
            color:#171c24d7;
        }
        nav #show-menu:checked ~ .content .links {
            left: 0%;
        } 
        .content .links li a {
            line-height: 40px;
            font-size: 20px;
            display: block;
            padding: 8px 18px; 
        }
        .first-a, .second-a {
            display: inline;
        }
        .asidesbis{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "ave"
                                 "pal";   
        }
    }